.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding{
    padding-top: 52px;
}

.banner-container{
    padding-left: 30px;
    width: 100%;
    background-color: #FF6666;
}

.banner-container h4{
    padding-right: 300px;
}

.image-container{
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.image-container img{
    border-radius: 10px;
    transform: scale(1.0);
    transition-duration: 0.25s;
}

.image-container img:hover{
    transform: scale(1.1);
    transition-duration: 0.25s;
}

.menu-title{
    padding-top: 10px;
}

.menu-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 75px;
}